TITLE$Impact of False Sharing in Jacobi 3D T 25-pt (28 threads)$
DISPLAYLEGEND$True$
LEGENDNAMES$With False Sharing,Avoiding False Sharing$
GRAPHTYPE$2D$
CODE$./code/Adaptserial.py$
SEMILOGY$FALSE$
BW$false$
XINV$FALSE$
YINV$FALSE$
CUSTOMLINEFILES$$
CUSTOMLINECODEFILES$$
FILELIST$../../../outputFiles/currentRawData/adapt_membench/varied_stencil/jacobi_3d_FS_T25pt_28T.out,../../../outputFiles/currentRawData/adapt_membench/varied_stencil/jacobi_3d_T25pt_28T.out$
NUMTHREADS$2$
XAXLABEL$Working Set Size (MiB)$
YAXLABEL$Cumulative Memory Bandwidth (GiB/s)$
XBASE$0$
XLIM$10$
YBASE$0$
YLIM$400$
MAJORTICKX$1$
MINORTICKX$0.25$
MAJORTICKY$50$
MINORTICKY$12.5$
VRTLINES$0.03,0.25,35,70$
VERTLINES$0.9,7,35,70$
VERTLINESTYLES$-,-,--,-$
VERTLINELABELS$L1 Cache,L2 Cache,L3 for one NUMA domain,L3 Cache$
SHOWFIG$True$
